doctype html

html
  head
    meta(charset='UTF-8')
    title Wikiweb
    style.

  body
    #wikiwebRoot
    script(src=env == 'prod' ? '/js/main.bundle.js' : 'https://localhost:4000/js/main.bundle.js')
