doctype html

html
  head
    meta(charset='UTF-8')
    title Wikiweb
    style.

  body
    #wikiwebRoot
    script(src=env == 'prod' ? '/js/popup.bundle.js' : 'http://localhost:4000/js/popup.bundle.js')
