html, body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  font-family: 'Verdana', 'Geneva', 'sans-serif';
  font-size: 14px;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

button,
input[type="checkbox"] {
  outline: none;
}

.connectionsJS {
  .footer {
    &:hover {
      .verticalDivider {
        display: none;
      }
    }
    .wikiwebBox {
      border-bottom-left-radius: 2px;
      &:hover {
        background-color: purple;
        span { color: white; }
      }
    }
    .addConnectionBox {
      border-bottom-right-radius: 2px;
      span {
        color: orange;
        font-size: 19;
      }
      &:hover {
        background-color: orange;
        span { color: white; }
      }
    }
  }

  .hyperlink {
    img { display: none; }
    &:hover {
      img { display: inline; }
    }
  }
}
