@import './scss/font-awesome';

html, body, #wikiwebRoot, #wikiwebApp {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: white; /* included because we're getting some funky height issues. This should be removed once those are fixed. */
}

/* Container for entire application */
#wikiwebRoot { /* blank */ }
#wikiwebApp { /* blank */ }

/**************************/
/** WIKIWEB FULL PAGE  ***/
/************************/

#fullPage {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  display: block;
  margin-top: 85px;
  .header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    background-color: rgb(245, 248, 250);
    border-top: 2px solid purple;
    .fontLogo {
      justify-content: flex-start;
      width: 100px;
      color: rgba(128, 0, 128, 0.9) !important;
      float: left;
      padding: 15px 15px;
      font-size: 18px;
      line-height: 20px;
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
      &:hover {
        color: rgba(128, 0, 128, 1) !important;
      }
    }
  }
  .pageContents {
    margin: auto;
    width: 780px;
    margin-bottom: 90px;
    .pageTitleSection {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      .titleImgBox {
        padding-top: 2px;
        img {
          height: 50px;
        }
      }
      .content {
        margin-left: 10px;
        margin-right: 40px;
        width: 100%;
      }
      .pageTitle {
        width: 100%;
        color: rgba(0,0,0,0.6);
        font-size: 1.6rem;
        line-height: 1.3;
        font-weight: 500;
      }
      .queryLink {
        width: 100%;
        color: #7c7c7c;
        font-size: 1.1rem;
        line-height: 1.2;
        font-weight: 300;
      }
    }
    .resultsGrid {
      width: 100%;
      box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
      min-height: 50px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      .promotedRow {
        background-color: rgb(250,250,210);
      }
      .row {
        display: flex;
        flex-direction: row;
        height: 55px;
        .typeCol, .titleCol, .domainCol, .sourceCol {
          display: flex;
          align-items: center;
          line-height: 1.5;
          font-size: 13px;
        }
        .typeCol, .sourceCol {
          justify-content: center;
        }
        .domainCol{
          * {
              text-align: center;
              overflow-x: hidden;
              text-overflow: ellipsis;
              display: block;
          }
          span {
            text-align: center;
            width: 100%;
            padding-left: 3px;
            padding-right: 3px;
          }
        }
        .typeCol {
          width: 10%;
          span {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              font-size: 17px;
              color: purple;
            }
          }
          .pageLink {
            border-left: 3px solid gray;
            i {
              color: gray;
              font-style: 700;
            }
          }
          .userContributed {
            border-left: 3px solid purple;
          }
          .promoted {
            border-left: 3px solid gold;
            i {
              color: gold;
            }
          }
        }
        .titleCol {
          width: 53%;
          border-left: 1px solid #e7e7e7;
          border-right: 1px solid #e7e7e7;
          .title {
            width: 90%;
            margin-left: 12px;
            margin-right: 12px;
          }
          .favicon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-left: 1px solid #e7e7e7;
            width: 10%;
            img {
              height: 16px;
              width: 16px;
            }
          }
        }
        .domainCol {
          border-right: 1px solid #e7e7e7;
          width: 18%;
        }
        .sourceCol {
          width: 18%;
        }
      }
      .rowHeader {
        background-color: rgba(0,0,0,0.05);
        border-top: none;
        font-weight: 700;
        height: 42px;
        line-height: 22.5px;
      }
    }
  }
  .parsingPage {
    position: absolute;
    padding-top: 50px;
    margin-left: -50px;
    width: 150px;
    z-index: 2000000000;
    left: 50%;
    top: 50%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-size: 16px;
    color: rgba(0,0,0,.8);
  }
}

/*****************************/
/** END WIKIWEB FULL PAGE  **/
/***************************/

/********************/
/** WIKIWEB FOOTER **/
/********************/

.wikiwebFooter {
  overflow-y: hidden;
  position: fixed;
  top:0;
  border-top: 2px solid purple;
  border-bottom: 2px solid purple;
	z-index: 2147483647; /* max z-index */
  height: 45px;
  width: 100%;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  background-color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
  font-size: 16px;
  color: rgba(0,0,0,.8);
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor:pointer;
  }
}

.noOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rotateIn {
  color: rgba(128,0,128, 0.75);
  transform:             rotate( 90deg );
    -moz-transform:    rotate( 90deg );
    -ms-transform:     rotate( 90deg );
    -o-transform:      rotate( 90deg );
    -webkit-transform: rotate( 90deg );
  transition:             transform 350ms ease;
    -moz-transition:    -moz-transform 350ms ease;
    -ms-transition:     -ms-transform 350ms ease;
    -o-transition:      -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
}

.rotateOut {
  color: rgba(0,0,0,.33);
  transform:             rotate( 0deg );
	-moz-transform:    rotate( 0deg );
	-ms-transform:     rotate( 0deg );
	-o-transform:      rotate( 0deg );
	-webkit-transform: rotate( 0deg );
	transition:             transform 350ms ease;
	-moz-transition:    -moz-transform 350ms ease;
	-ms-transition:     -ms-transform 350ms ease;
	-o-transition:      -o-transform 350ms ease;
	-webkit-transition: -webkit-transform 350ms ease;
}

.transitionReadNext {
	display: block;
	transition:         margin 350ms ease;
	-moz-transition:    margin 350ms ease;
	-ms-transition:     margin 350ms ease;
	-o-transition:      margin 350ms ease;
	-webkit-transition: margin 350ms ease;
}

.logoBox {
  position: absolute;
  height: 45px;
  width: 45px;
  margin-left: 20px;
}

.expandFooterBox {
  position: absolute;
  height: 45px;
  width: 45px;
  margin-left: 70px;
}

.heartIcon {
  color: rgba(128,0,128, 0.7);
  font-size: 22px;
  padding-right: 4px;
  transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
  &:hover {
    cursor: pointer;
    color: purple;
    transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
  }
}

.heartCount {
  justify-content: space-around;
  width: 21px;
  color: rgba(0,0,0,.44);
  font-size: 16px;
  font-family: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
  &:hover {
    cursor: pointer;
    color: rgba(0,0,0,.6);
    transition:color 350ms ease;
      -moz-transition:color 350ms ease;
      -ms-transition:color 350ms ease;
      -o-transition:color 350ms ease;
      -webkit-transition:color 350ms ease;
  }
}

.inputBox {
  font-size: 14px;
  padding-top: 9px;
  input:focus{
    outline: none;
  }
  .inputUrl {
    font-size: 15px;
    padding: 0px;
  }
  .inputSubmit {
    font-size: 14px;
    height: 26px;
  }
  .urlSubmitForm {
    width: 480px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    .inputUrl {
      width: 370px;
      padding: 0px;
      color: rgba(0,0,0,.44);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      border-left: none;
      border-right: none;
      border-top: none;
    }
    .inputSubmit {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-left: 20px;
      width: 90px;
      border: 1px solid rgba(128,0,128, 0.9);
      background-color: rgba(128,0,128, 0.9);
      color: white;
      -webkit-transition: width 350ms;
      transition: width 350ms;
      &:hover {
        cursor: pointer;
        border: 1px solid rgba(128,0,128, 1);
        background-color: rgba(128,0,128, 1);
        transition:background-color 200ms ease;
          -moz-transition:background-color 200ms ease;
          -ms-transition:background-color 200ms ease;
          -o-transition:background-color 200ms ease;
          -webkit-transition:background-color 200ms ease;
      }
    }
    .invalidSubmit {
      color: white;
      background-color: rgba(128,128,128, 0.8);
      border: 1px solid rgba(128,128,128, 0.8);
      transition:background-color 200ms ease;
      -moz-transition:background-color 200ms ease;
      -ms-transition:background-color 200ms ease;
      -o-transition:background-color 200ms ease;
      -webkit-transition:background-color 200ms ease;
			cursor: default !important;
      &:hover {
        background-color: rgba(128,128,128, 0.8);
        border: 1px solid rgba(128,128,128, 0.8);
      }
    }
  }
}

.verticalDivider {
	align-items: center;
	display: flex;
	* {
		width: 1px;
	  height: 60%;
	  background-color: #D3D3D3;
	}

}

.changeRecommendationBox {
  margin-left: 3px;
  width: 15px;
  padding-top: 7px;
  .recommendationToggleCaret {
    color: rgba(0, 0, 0, 0.33);
    font-size: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}

.centerBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  width: 864px;
  min-width: 864px;
  max-width: 864px;
  height: 45px;
}

@media only screen
and (max-width : 767px) {
  .centerBox {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen
and (min-width : 768px)
and (max-width : 1023px) {
  .centerBox {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen
and (min-width : 1024px)
and (max-width : 1224px) {
  .centerBox {
    margin-left: 15%;
    margin-right: 15%;
  }
}

#leftFooterCol {
  display: flex;
  justify-content: flex-start;
  height: 45px;
  width: 142px;
  min-width: 142px;
  max-width: 142px;
}
#middleFooterCol {
  display: flex;
  height: 45px;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
}
#rightFooterCol {
  display: flex;
  height: 45px;
  width: 222px;
  min-width: 222px;
  max-width: 222px;
}

.addConnectionBox {
  padding-left: 80px;
  width: 22px;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  .addConnectionIcon {
    font-size: 27px;
  }
}

.addConnectionBox:hover {
  cursor: pointer;
}

.addMetaBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heartSubmit {
  min-width: 49px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.loginText {
  padding-top: 15px;
  margin-left: 80px;
  font-size: 13px;
  line-height: 1.2em;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
  letter-spacing: -.02em;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollFlexContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.recommendationBox {
  display: flex;
  width: 480px;
  .readNext {
    display: flex;
    color: purple;
    font-size: 12px;
    line-height: 1.4em;
    font-family: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue", sans-serif !important;
    letter-spacing: 0em;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  },
  .nextRead {
    display: flex;
    font-size: 13px;
    line-height: 1.2em;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    .domain {
      margin-right: 6px;
    }
  }
  .noRecommendations {
    width: 480px;
    padding-top: 15px;
    align-items: center;
    span {
      margin-left: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      line-height: 1.2em;
      font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
      letter-spacing: -.02em;
      font-weight: 700;
      font-style: normal;
    }
    span:first-of-type {
      margin-left: 50px;
    }
    span:nth-of-type(2) {
      color: purple;
    }
  }
}

.recommenderInfoBox {
    margin-left: 20px;
    width: 100px;
  .recommenderInfo {
    .user {
      margin-top: -3px;
      color: purple;
      font-size: 12px;
      line-height: 1.4em;
      font-family: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue", sans-serif !important;
      letter-spacing: 0em;
      font-weight: 700;
      font-style: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    },
    .username {
      max-width: 200px;
      font-size: 12px;
      line-height: 1.2em;
      font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
      letter-spacing: -.02em;
      font-weight: 700;
      font-style: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.addRecommendationButton, .loginButton {
  margin-left: 20px;
  font-size: 13px;
  line-height: 1.2em;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
  letter-spacing: -.02em;
  font-weight: 700;
  font-style: normal;
	align-items: center;
  color: rgba(128,0,128, 0.9);
  transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
  &:hover {
    transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
    cursor: pointer;
    color: purple;
  }
}

.inputSuccessErrorMessages {
  margin-left: 15px;
  font-size: 13px;
  line-height: 1.2em;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
  letter-spacing: -.02em;
  font-weight: 700;
  font-style: normal;
	display: flex;
  color: rgba(128,0,128, 0.9);
  transition:color 350ms ease;
  -moz-transition:color 350ms ease;
  -ms-transition:color 350ms ease;
  -o-transition:color 350ms ease;
  -webkit-transition:color 350ms ease;
	* {
		align-items: center;
		display: flex;
	}
  .errorMessages {

		margin-left: 7px;
    color: red;
    .type, .text {
			font-weight: 500;
      font-size: 14px;
    }
  }
}

.closeContainer{
  position: absolute;
  right: 17px;
}
.closeButton {
  color: rgba(0, 0, 0, 0.15);
  transition:color 250ms ease;
    -moz-transition:color 250ms ease;
    -ms-transition:color 250ms ease;
    -o-transition:color 250ms ease;
    -webkit-transition:color 250ms ease;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    transition:color 250ms ease;
    -moz-transition:color 250ms ease;
    -ms-transition:color 250ms ease;
    -o-transition:color 250ms ease;
    -webkit-transition:color 250ms ease;
  }
}

.expandButtonNoUserConnections {
  color: rgba(0, 0, 0, 0.15);
  transition:color 250ms ease;
    -moz-transition:color 250ms ease;
    -ms-transition:color 250ms ease;
    -o-transition:color 250ms ease;
    -webkit-transition:color 250ms ease;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    transition:color 250ms ease;
    -moz-transition:color 250ms ease;
    -ms-transition:color 250ms ease;
    -o-transition:color 250ms ease;
    -webkit-transition:color 250ms ease;
  }
}

.expandButtonMultipleUserConnections{
  color: rgba(128,0,128, 0.8);
  transition:color 250ms ease;
    -moz-transition:color 250ms ease;
    -ms-transition:color 250ms ease;
    -o-transition:color 250ms ease;
    -webkit-transition:color 250ms ease;
  &:hover {
    color: rgba(128,0,128,1);
    transition:color 250ms ease;
    -moz-transition:color 250ms ease;
    -ms-transition:color 250ms ease;
    -o-transition:color 250ms ease;
    -webkit-transition:color 250ms ease;
  }
}


.loginRefreshPromp {
	position: absolute;
	background-color: black;
	opacity: .9;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1em;
	color: #fff;
	z-index: 999;
}

/* This will get thrown out */
.animationsExperiment {
  margin-left: 300px;
  .box {
    width: 100px;
    height: 100px;
    background-color: #3498DB;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .toggle-btn {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    width: 80px;
    padding: 10px;
    font-size: 18px;
  }
}
