@import './scss/font-awesome';

#wikiwebRoot {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 1px rgba(0, 0, 0, .44);
	z-index: 2147483647; /* max z-index */
}

/********************/
/* UNIVERSAL STYLES */
/********************/

/* There should be no universal styles. Otherwise you're missing with the default page content. */

/********************/
/** WIKIWEB FOOTER **/
/********************/
.noOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rotateIn {
  transform:             rotate( 90deg );
    -moz-transform:    rotate( 90deg );
    -ms-transform:     rotate( 90deg );
    -o-transform:      rotate( 90deg );
    -webkit-transform: rotate( 90deg );
  transition:             transform 350ms ease;
    -moz-transition:    -moz-transform 350ms ease;
    -ms-transition:     -ms-transform 350ms ease;
    -o-transition:      -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
}

.rotateOut {
  transform:             rotate( 0deg );
    -moz-transform:    rotate( 0deg );
    -ms-transform:     rotate( 0deg );
    -o-transform:      rotate( 0deg );
    -webkit-transform: rotate( 0deg );
  transition:             transform 350ms ease;
    -moz-transition:    -moz-transform 350ms ease;
    -ms-transition:     -ms-transform 350ms ease;
    -o-transition:      -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
}

.heartIcon {
  color: rgba(128,0,128, 0.6);
}

.heartText {
  color: rgba(0,0,0,.44);
}

.enterHeartIcon {
  color: purple;
  transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
}

.leaveHeartIcon {
  color: rgba(128,0,128, 0.6);
  transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
}

.enterHeartText {
  color: rgba(0,0,0,.6);
  transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
}

.leaveHeartText {
  color: rgba(0,0,0,.44);
  transition:color 350ms ease;
    -moz-transition:color 350ms ease;
    -ms-transition:color 350ms ease;
    -o-transition:color 350ms ease;
    -webkit-transition:color 350ms ease;
}

.inputBox {
  margin-left: 30px;
  font-size: 14px;
  input:focus{
    outline: none;
  }
  .inputUrl {
    font-size: 15px;
    padding: 0px;
  }
  .inputSubmit {
    font-size: 14px;
  }
  .inactiveUrlSubmitForm {
    .inputUrl {
      padding: 0px;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid white;
      -webkit-transition: width 350ms;
      transition: width 350ms;
    }
    .inputSubmit {
      border: none;
      -webkit-transition: width 150ms;
      transition: width 150ms;
    }
    .inputUrl, .inputSubmit {
      width: 0px;
      padding: 0px;
      margin: 0px;
    }
  }
  .activeUrlSubmitForm {
    -webkit-transition: width 350ms;
    transition: width 350ms;
    .inputUrl {
      padding: 0px;
      color: rgba(0,0,0,.44);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      border-left: none;
      border-right: none;
      border-top: none;
      width: 270px;
      -webkit-transition: width 350ms;
      transition: width 350ms;
    }
    .inputSubmit {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-left: 10px;
      width: 70px;
      border: 1px solid rgba(128,0,128, 0.9);
      background-color: rgba(128,0,128, 0.9);
      color: white;
      -webkit-transition: width 350ms;
      transition: width 350ms;
      &:hover {
        border: 1px solid rgba(128,0,128, 1);
        background-color: rgba(128,0,128, 1);
        transition:background-color 200ms ease;
          -moz-transition:background-color 200ms ease;
          -ms-transition:background-color 200ms ease;
          -o-transition:background-color 200ms ease;
          -webkit-transition:background-color 200ms ease;
      }
    }
  }
}

.errorMessages {
  color: red;
  margin-top: 5px;
 
  .type, .text {
    position: absolute;
    font-size: 14px;
    margin-left: 370px;
  }
}

.recommendationBox {
  display: flex;
  align-items: center;
  .readNext {
    margin-top: -3px;
    display: flex;
    color: purple;
    font-size: 12px;
    line-height: 1.4em;
    font-family: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue", sans-serif !important;
    letter-spacing: 0em;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  },
  .nextRead {
    display: flex;
    font-size: 13px;
    line-height: 1.2em;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
  }
}

/*************/
/* Old shit we'll never use but are too sentimal to delete yet.
/*************/


.reactTagsModule {
  /* reactTagsModule Styles derived from React Tags */
  div.ReactTags__tags {
    position: relative;
    width: 294px;
    border: 1px solid #C5C5C5;
    padding-left: 5px;
  }

  /* Styles for the input */
  div.ReactTags__tagInput {
    display: inline-block;
  }
  div.ReactTags__tagInput input.ReactTags__tagInputField,
  div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    padding-left: 7px;
    height: 39px; // cribbing from .formInput
    font-size: 14px; // cribbing from .formInput
    margin: 0;
    border: none;
  }

  /* Styles for selected tags */
  div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid rgba(255,165,0, 1);
    background: white;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: move;
    border-radius: 0px;
  }
  div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }

  /* Styles for suggestions */
  div.ReactTags__suggestions {
    position: absolute;
  }
  div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
  }
  div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
  }
  div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }
  div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
  }
}

/* This will get thrown out */
.box {
  width: 100px;
  height: 100px;
  background-color: #3498DB;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
  width: 80px;
  padding: 10px;
  font-size: 18px;
}